* {
    margin: 0;
    padding: 0;
    font-family: 'poppins';
}
.page-content {
  /* background-color: blue; */
  display: grid;
  grid-template: "empty-left        main-content empty-right" / 
                  minmax(30px, 1fr) 1100px       minmax(30px, 1fr);
}
.main-content {
  grid-area: main-content;
  /* background-color: red; */
}
.filtros {
  display: grid;
  grid-template: "filtro-grado" / 
                  1fr;  
  margin-top: 20px;
}
.tag-filtro {
  margin: 20px;
}
.filtro-grado {
  grid-area: filtro-grado;
}
.filtr-asignatura {
  grid-area: filtro-asignatura;
}
select {
  border-radius: 5px;
  height: 50px;
  width: 80%;
  border: 1px solid rgb(64,64,64,.8);
  margin: 5px 20px 20px 20px;
  font-size: .9em;
}
select:hover {
  cursor: pointer;
}
.cards-box {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  gap: 20px;
}
h1 {
    margin-top: 50px;
    text-align: center;
    font-size: 1.7em;
    font-weight: 600;
    color: rgb(48,48,48,.9);
}
.cards {
    width: 250px;
    /* height: 350px; */
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    border-radius: 20px;
    margin: 20px;
    display: block;
}
.cards:hover {
    /* width: 255px;
    height: 355px; */
    border: 1px solid rgb(96,96,96,.8);
    cursor: pointer;
}
.card-hidden {
  display: none;
}
.card-asign-ciencias, .card-asign-tecnologia {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 1.3em;
  text-align: center;
}
.card-asign-ciencias {
  background-color: rgb(97, 147, 16);
}
.card-asign-tecnologia {
  background-color:#0d6efd;
}
.card-title {
  height: 50px;
  font-size: 1.1em;
  font-weight: 500;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grade-card {
  clear: both;
  display: block;
  font-size: .8em;
  font-weight: 600;
}
.box-img-card {
    margin: 0 auto;
    width: 80%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.box-tipo-actividad {
  /* height: 270px; */
}
.img-tipo-actividad {
  width: 100%;
}
.img-card {
    /* width: 150px; */
    height: 40px;
    margin-bottom: 10px;
}
a {
  text-decoration: none;
}
footer {
  display: grid;
  grid-template: "empty-left footer-content empyt-right" /
                  10px       1fr            20px;
  width: 100%;
  /* height: 200px;; */
  color: white;
  background-color: #464c53;
}
.footer-content {
  grid-area: footer-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.autores {
  font-size: 1.1em;
  text-align: center;
  margin: 30px 0;
}
.nota-autor {
  text-align: center;
  margin-bottom: 30px;
} 
a {
  color: rgb(24,24,24,.9);
  font-weight: 400;
}
.link-tools {
  color: white;
  font-weight: 600;
  font-size: 1.3em;
}
.link-tools:hover {
  text-decoration: underline;
}
.boton-accion {
  height: 50px;
  width: 90%;
  margin: 0 auto;
  border-radius: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(24,24,24,.9);
  font-weight: 600;
  background-color:rgb(255,193,7);
  transition: all .4s;
}
.boton-accion:hover {
  background-color:rgb(241, 235, 38);
/*   color: white; */
}
.fa-solid {
  margin-right: 7px;
}
@media only screen and (max-width: 1168px) {
  h1 {
    margin-top: 15px;
  }
  .page-content {
    display: grid;
    grid-template: "empty-left         main-content empty-right" / 
                    minmax(10px, 20px)  minmax(750px, 1130px)      minmax(10px, 20px);
  }
  .cards-box {
    display: grid;
    grid-template-columns: repeat(3, minmax(220px, 365px));
    gap: 20px;
    margin:20px;
  }
  .cards {
    width: 100%;
    height: auto;
    margin: 15px;
  }
  .filtros {
    display: grid;
    grid-template: "filtro-grado" / 
                    1fr;  
    margin-top: 15px;
  }
  .tag-filtro {
    margin: 15px;
  }
  select {
    border-radius: 5px;
    height: 50px;
    width: 80%;
    border: 1px solid rgb(64,64,64,.8);
    margin: 5px 10px 10px 15px;
    font-size: .9em;
  }

}
@media only screen and (max-width: 768px) {
  h1 {
    margin-top: 10px;
  }
  .page-content {
    display: grid;
    grid-template: "empty-left         main-content empty-right" / 
                    minmax(10px, 20px)  minmax(430px, 730px)      minmax(10px, 20px);
  }
  .cards-box {
    display: grid;
    grid-template-columns: repeat(2, minmax(220px, 365px));
    gap: 20px;
    margin:20px;
  }
  .cards {
    width: 100%;
    height: auto;
    margin: 15px;
  }
}
@media only screen and (max-width: 430px) {
  h1 {
    margin-top: 10px;
  }
  .page-content {
    display: grid;
    grid-template: "empty-left         main-content empty-right" / 
                    minmax(10px, 1fr)  320px       minmax(10px, 1fr);
  }
  .cards-box {
    display: grid;
    grid-template-columns: 320px;
    gap: 0;
    margin: 0;
  }
  .cards {
    width: 100%;
    height: auto;
    margin: 15px 0;
  }
  .tag-filtro {
    margin: 10px;
  }
  select {
    border-radius: 5px;
    height: 50px;
    width: 80%;
    border: 1px solid rgb(64,64,64,.8);
    margin: 5px 10px 10px 10px;
    font-size: .9em;
  }
  footer {
    font-size: .8em;
  }
}
@media only screen and (max-width: 359px) {
  .page-content {
    display: grid;
    grid-template: "empty-left        main-content empty-right" / 
                    minmax(10px, 1fr) 290px        minmax(10px, 1fr);
  }
  .cards-box {
    display: grid;
    grid-template-columns: 250px;
    gap: 0;
    margin: 0;
  }
  .cards {
    margin: 20px;
  }
}

/* Fuentes */
/* poppins-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins-v20-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v20-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-800 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/poppins-v20-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }